@model Kias_Kar_Kompany.Models.Manufacturer

<h2>Delete Manufacturer</h2>

<p>Are you sure you want to delete @Model.Manufacturer_Name?</p>

<form asp-action="DeleteConfirmed" method="post">

    <input type="hidden" asp-for="Id" />

    <button type="submit">Delete</button>
</form>
