@model Kias_Kar_Kompany.Models.Manufacturer

<h2>Manufacturer Details</h2>

<div class="card p-3">

    <p><strong>Name:</strong> @Model.Manufacturer_Name</p>
    <p><strong>Country:</strong> @Model.Manufacturer_Country</p>

</div>

<a class="btn btn-secondary mt-3" asp-action="Index">Back</a>
